<div class="container">
    <h1>Welcome to our market web</h1>
    <h3>We sell the best products</h3>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/image2.jpg" class="d-block w-100" alt="productos">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/image3.jpg" class="d-block w-100" alt="productos">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/image.jpg" class="d-block w-100" alt="productos">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <section>  
        <p>
        Sed a mauris eget purus dictum molestie. Ut congue nunc a consequat volutpat. Nulla et tellus finibus, varius quam quis, aliquet ligula. Nulla a risus non velit tempor dapibus non a nulla. Fusce sollicitudin odio vitae aliquam placerat. Vestibulum ullamcorper neque turpis, et vulputate odio ornare non. 
        Sed vestibulum turpis eu odio convallis, quis convallis magna vestibulum. Vivamus faucibus luctus risus, et rhoncus risus imperdiet id. Curabitur et risus elit. 
        </p>

        <p>
        Nullam cursus vehicula lacus non ultricies. Quisque ut enim neque. Proin ac gravida odio. Cras vulputate metus ut metus vestibulum efficitur. Vivamus non arcu enim. Duis ut nunc nec tortor congue commodo. Cras ullamcorper est odio, at tempus massa volutpat ac. 
        Aliquam ultricies blandit accumsan. Donec vel neque eget erat convallis efficitur a fermentum ipsum. Donec ornare, nisi vel pretium ullamcorper, augue dolor euismod justo, quis faucibus neque justo quis tellus. Maecenas sollicitudin, ligula sit amet dapibus tincidunt, tortor enim ornare felis, eu bibendum elit nulla vel nisi. 
        Aliquam commodo posuere nisl. Vivamus ut sollicitudin urna. Nulla accumsan at est vitae blandit.
        </p>
        
        <p>
        Nulla in suscipit magna. Curabitur id luctus justo. Fusce id ornare nulla. Donec condimentum vestibulum elit sit amet vehicula. Aliquam ac dignissim diam. Sed dolor mi, suscipit ac metus et, varius lacinia elit.
         Maecenas porttitor et lectus eget ultricies. Proin vitae nisl libero. Duis facilisis tempus mauris.
        </p>
    </section>

</div>
